.fixed-header{
    width: 100vw;
    height: 15vh;

    position: fixed;
    top: 0;
    z-index:2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;

    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50vw;
        height: 100%;
        padding: 0 2rem;
    }

    &__logo{
        width: 16vw;
        min-width: 120px;
    }
}

.fixed-header img {
    margin: 2rem;
}

