

.navbar{
    width: 50vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 3;
    opacity: 0;
    height: 100%;
    display: none;
    transition: all 1s ease 500ms;

    &__menu{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding-right: 2rem;

        @include response(phone){
            flex-direction: column;
            position: fixed;
            align-items: center;
            padding: 10rem 0;
            left: 0;
            top: 0;
            
    }

        &--submenu{
            display: none;
            list-style-type: none;
            position: fixed;
            top: 14.5vh;
            padding: 0 2rem 3rem;
            background-color: $white-smoke;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);

            @include response(phone){
                display: block;
                clip-path: none;
                position: relative;
                top: 0;
                background: transparent;
            }
        }
        
        &__item{
            text-decoration: none;
        }
    }
}

.menu-background{
    background-color: $white-smoke;
    position: absolute;
    right: 0;
    width: 57vw;
    height: 100%;
    z-index: 3;
    clip-path: polygon(calc(0% + 10vw) 0, 100% 0, 100% 100%, 0 100%);
    right: -100%;
    transition: all 1s ease;

    @include response(phone){
        height: 0;
        width: 0;
        clip-path: none;
    }

    &.active-back{
        right: 0;
        transition: 350ms;

        @include response(phone){
            height: 100vh;
            width: 100vw;
            top: 0;
            clip-path: none;
        }
    }
}

.links{
    text-decoration: none;

    &:link{
        color: $black;
        
    }

    &:visited{
        color: $black;
    }
}

.links-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.links:hover{
    color: $yellow;
}

.links-container:hover {
    .navbar__menu--submenu{
        display: block;
    }
}

.sublinks{
    padding: .2rem;
}

.navbar.active{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 3;
    height: 100%;
    opacity: 1;
    transition: 350ms ease  500ms;    
}

.links-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include response(phone){
        display: block;
    }
}