
.navbar{
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 3;
    opacity: 0;
    height: 100%;
    display: none;
    transition: all 1s ease 500ms;

    @include response(tab-land){
        width: 75vw
    }

    @include response(tab-port-sm){
        width: 100%;
        height: 100%;
    }

    &__menu{
        position: absolute;
        right: 4vw;
        display: flex;
        height: 100%;
        width: 60vw;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        @include response(tab-land){
            margin-right: 2vw;
            width: 70vw;
        }

        @include response(tab-port){
            right: 8vw;
        }
        @include response(tab-port-sm){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            padding-bottom: 4rem;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
        }
        

        &--submenu{
            display: none;
            list-style-type: none;
            position: fixed;
            top: 14.5vh;
            padding: 0 2rem 3rem;
            background-color: $white-smoke;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);

            @include response(tab-port-sm){
                display: none;
                clip-path: none;
                position: absolute;
                top: 6rem;
                
                z-index: 2;
                padding: 1.5rem 2.5rem;
                box-shadow: 0 4px 4px hsla(0, 0%, 0%, .3);
            }
            
        }
        
        &__item{
            text-decoration: none;
        }
    }
}

.menu-background{
    background-color: $white-smoke;
    position: absolute;
    right: 0;
    width: 71vw;
    height: 100%;
    z-index: 3;
    clip-path: polygon(calc(0% + 10vw) 0, 100% 0, 100% 100%, 0 100%);
    right: -100%;
    transition: all 1s ease;

    @include response(tab-port-sm){
        height: 0;
        width: 0;
        clip-path: none;
    }

    @include response(tab-land){
        width: 82vw;
    }

    @include response(tab-port){
        width: 86vw;
    }
    @include response(tab-port-sm){
        width: 73vw;
    }

    &.active-back{
        right: 0;
        transition: 350ms;

        @include response(tab-port-sm){
            height: 100vh;
            width: 100vw;
            top: 0;
            z-index: 0;
            clip-path: none;
        }
    }
}

.links{
    text-decoration: none;
    font-size: .9rem;
    letter-spacing: 1px;

    @include response(tab-port-sm){
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    &:link{
        color: $black;
        
    }

    &:visited{
        color: $black;
    }
}

.links-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.links:hover{
    color: $yellow;
}

.sublinks{
    padding: .2rem;
}

.navbar.active{
    width: 58vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 3;
    height: 100%;
    opacity: 1;
    transition: 350ms ease  500ms;  
    
    @include response(tab-land){
        // width: 61vw;
    }
    @include response(tab-port){
        width: 53vw;
    }
    @include response(tab-port-sm){
        width: 100vw;
        height: 100vh;
        width: 85%;
    }
}

.links-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    @include response(tab-port-sm){
        position: relative;
        width: 65%;
    }
}

.links-container:hover{
    .navbar__menu--submenu{
        @media only screen and (min-width: 750px){
            display: block;
        }
    }
}


.nav-arrows{
    @include center;
    display: none;
    height: 2rem;
    width: 2rem;
    margin: .5rem;
    color: $slate-gray;
    @include response(tab-port-sm){
        display: block;
        position: absolute;
        right: 20%;
        top: calc(50% - 1.5rem);
    }

    @include response(phone){
        right: 0%;
        
    }

}

.navbar__menu--submenu.active{
    @include response(tab-port-sm){
        display: block;
        
    }
}