$yellow: #fcc738;
$slate-gray: hsl(240,4%,56%);
$black: hsl(180,12%,3%);
$white-smoke: hsl(219,19%,97%);


// #8a8a94
// #999
// lightslategray
// hsl(240,4%,56%)
// rgb(138,138,148)

// #f6f7f9
// #fff
// whitesmoke
// hsl(219,19%,97%)
// rgb(246,247,249)

// #070909
// #011
// black
// hsl(180,12%,3%)
// rgb(7,9,9)

// #efe518
// #fe2
// gold
// hsl(57,87%,51%)
// rgb(239,229,24)

// #fcc738