.about-us{
    
    color: $black;

    & h2{
        font-size: 25px;
        letter-spacing: 4px;
    }

    &__our-team{
        
        &--top{
            margin-top: 12vh;
            content: '';
            position: relative;
            z-index: -1;
            top: 0;
            left: 0;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
            width: 100%;
            height: 50vh;
            background: no-repeat url("../../Assets/Logos/Elevate\ Logo\ Files/WEB/Elevate_Logo_Vertical_Color_RGB\@2x\.png");
            // background: url(../../Assets/Logos/Elevate\ Logo\ Files/WEB/Elevate_Logo_Horizontal_Color_RGB@2x.png);
            background-position: center ;
            background-repeat: no-repeat;
            // background-size: cover;
            background-attachment: fixed;
            opacity: .6;
        }

        &__team{
            text-align: left;
            margin: -10rem 0 5rem;
            background-color: $slate-gray;
            color: $white-smoke;
            padding: 10rem 9rem;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
            & hr{
                border-color: $yellow;
                width: 50%;
                margin-bottom: 1rem;
            }

            & h2{
                font-size: 30px;
                letter-spacing: 4px;
            }

            &--desc{
                margin-bottom: 3rem;
            }

            &--staff{


                & span{
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 3px;
                }
            }
        }

        &__letter{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 3rem 5rem 5rem;
            text-align: left;

            &--container{
                & h4{
                    font-size: 30px;
                }
                & h5{
                    color: $slate-gray;
                    font-size: 15px;
                }
            }
        }
    }




    &__elevate-recovery-homes{
        margin-top: 25vh;
        & h3{
            color: $slate-gray;
        }
        &--our-mission{
            margin: 1rem 5rem 5rem;
            display: flex;
            justify-content: space-evenly;
            
            &  p{
                text-align: left;
                text-indent: 50px;
            }
        }

        &--philosophy{
            background-color: $black;
            color: $white-smoke;
            padding: 8rem 9rem;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);

            & hr{
                border-color: $yellow;
                width: 70%;
                margin: 0 auto .5rem;
            }

            &--container{
                display: flex;
                justify-content: space-evenly;

                & div{
                    width: 50%;
                    margin: 1.5rem;

                    & p{
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        &--benefits-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3rem 6rem;
            & hr{
                width: 8%;
                border-color: $slate-gray;
                margin: 2.2rem 0 2rem;
            }
        }
        &--benefits{

            & ul{
                margin: 1rem 0 3rem 3rem;
                list-style-type: square;
                list-style: inside $yellow;
                columns: 2;
                column-gap: 7rem;
                text-align: left;

                & li{
                    margin: .5rem 0;
                }
            }
        }
        &--what-we-do{
            width: 75%;
            // margin: 0 0 2rem; 
        }
    }
}

#accountability{
    margin-top: 4rem;
}

#our-mission-img{
    height: 35vw;
    margin-left: 1rem;
}

#letter-img{
    height: 25vw;
    margin-left: 1rem;
    padding: 2rem;
}

#signature{
    font-size: 20px;
    text-align: right;
}

#signature-img{
    position: relative;
    bottom: 0;
    height: 10rem;
    right: -4rem;
}

#signature-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

#background-logo{
    position: absolute;
    top: -29vh;
    height: 111vh;
    left: 15vw;
    opacity: .1;
    z-index: 0;
}