.about-us{
    
    color: $black;

    & h2{
        font-size: 25px;
        letter-spacing: 4px;
    }

    &__our-team{
        
        &--top{
            margin-top: 12vh;
            content: '';
            position: relative;
            z-index: -1;
            top: 0;
            left: 0;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
            width: 100%;
            height: 50vh;
            background: no-repeat url("../../Assets/Logos/Elevate\ Logo\ Files/WEB/Elevate_Logo_Vertical_Color_RGB\@2x\.png");
            background-position: center ;
            background-repeat: no-repeat;
            background-attachment: fixed;
            opacity: .6;
            
            @include response(phone){
                margin-top: 2vh;
                background-position: 50% 4%;
            }
            
        }

        &__team{
            text-align: left;
            margin: -15rem 0 5rem;
            background-color: $slate-gray;
            color: $white-smoke;
            padding: 10rem 9rem;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
            @include response(phone){
                margin: -13rem auto 5rem;
                padding: 10rem 0;
            }
            & hr{
                border-color: $yellow;
                width: 50%;
                margin-bottom: 1rem;
            }

            & h2{
                font-size: 30px;
                letter-spacing: 4px;
            }

            &--desc{
                margin-bottom: 3rem;
                @include response(phone){
                    width: 90%;
                    margin: 0 auto; 
                }
            }

            &--staff{
                @include response(phone){
                    width: 90%;
                    margin: 0 auto; 
                }
                & h2{
                    @include response(phone){
                        margin-top: 2rem; 
                    }
                }
                & span{
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 3px;
                }
            }
        }

        &__letter{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 3rem 5rem 5rem;
            text-align: left;

            @include response(tab-land){
                flex-direction: column-reverse;
                width: 90%;
                margin: 3rem auto 5rem;
            }

            &--container{
                width: 100%;
                & h4{
                    font-size: 30px;
                }

                & h5{
                    color: $slate-gray;
                    font-size: 15px;
                }

            }
        }
    }




    &__elevate-recovery-homes{
        margin-top: 25vh;

        @include response(phone){
            margin-top: 15vh;
        }
        & h3{
            color: $slate-gray;
        }
        &--our-mission{
            margin: 1rem 5rem 5rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            @include response(tab-port){
                flex-direction: column-reverse;
                margin: 1rem auto 5rem;
                width: 90%;
            }
            
            &  p{
                text-align: left;
                text-indent: 50px;
            }
        }

        &--philosophy{
            background-color: $black;
            color: $white-smoke;
            padding: 12rem 9rem;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
            width: 100%;
            
            @include response(phone){
                padding: 12rem 0;
                margin: 0 auto;
            }

            & hr{
                border-color: $yellow;
                width: 70%;
                margin: 0 auto .5rem;
            }
            &--header{
                margin-bottom: 3.5rem;
                @include response(phone){
                    width: 90%;
                    margin: 0 auto 3rem;

                }
            }

            &--container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 30px 20px;

                @include response(tab-port){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    margin: 3rem auto 0;
                }

                &--structure{
                    grid-area: 2 / 1;
                }
                &--accountability{
                    grid-area: 1 / 2;
                }
                &--support{
                    grid-area: 2 / 2;
                }
                &--action{
                    grid-area: 1 / 1 ;
                }

                & div{
                    align-self: start;
                    justify-self: center;
                    margin: 2rem;
                    padding: 1rem;
                    border-radius: 6px;
                    box-shadow: 0 0 6px #fcc73860;

                    &:hover{
                        transform: scale(1.1);
                    }
                    @include response(phone){
                        width: 90%;
                        margin: 0 auto;
                    }
                    & p{
                        text-align: left;
                        text-indent: 20px;
                    }

                    & h4 {
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
                }
            }
        }



        &--benefits-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3rem 6rem;

            @include response(tab-port-sm){
                margin: 3rem auto;
                width: 90%;
            }
            & hr{
                width: 8%;
                border-color: $slate-gray;
                margin: 2.2rem 0 2rem;
            }
        }
        &--benefits{

            & ul{
                margin: 1rem 0 3rem 3rem;
                list-style-type: square;
                list-style: inside $yellow;
                columns: 2;
                column-gap: 7rem;
                text-align: left;

                @include response(phone){
                    columns: 1;
                }

                & li{
                    margin: .5rem 0;
                }
            }
        }
        &--what-we-do{
            width: 75%;
            @include response(phone){
                width: 100%;
            }
        }
    }
}

#our-mission-img{
    width: 46vw;
    margin-left: 1rem;
    height: 96vh;
    object-fit: cover;
    object-position: 41% 24%;

    @include response(tab-port){
        width: 100%;
        height: 40vh;
        margin: 0 auto 2rem;
    }
}

#letter-img{
    margin-top: -10rem;
    margin-left: 6rem;
    object-fit: cover;
    width: 100%;

    @include response(tab-land){
        width: 80%;
        height: 70vh;
        object-position: 0% 4%;
        padding: 0;
        margin: 3rem auto 2rem;
    }
}

#signature{
    font-size: 20px;
    text-align: right;
}

#signature-img{
    position: relative;
    bottom: 0;
    height: 10rem;
    right: -4rem;

    @include response(phone){
        right: 0;
    }
}

#signature-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

#background-logo{
    position: absolute;
    top: -29vh;
    height: 111vh;
    left: 15vw;
    opacity: .1;
    z-index: 0;
}



#letter-p{
    text-indent: 30px;
}
#letter-dear{
    margin-bottom: 1rem;
}