.admissions{

    &__community{
        margin: 0 5rem 20vh;
        @include response(phone){
            margin: 0 0 25vh;
        }

        & hr {
            border-color: $yellow;
            border: solid .5px $yellow;
            width: 50%;
            margin: .2rem auto .5rem;
        }
        &--header{
            margin: 0 auto 18rem;
            padding-top: 13rem;

            @include response(phone){
                width: 90%;
                margin-bottom: 15rem;
            }
            
            & h2{
                @include header-style;
            }
            
            & p {
                width: 75%;
                text-indent: 40px;
                text-align: left;
                color: $black;
                margin: 0 auto;
                @include response(phone){
                    width: 90%;
                }
            }
        }

        &--header::after{
            content: '';
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            width: 100%;
            height: 90%;
            background: no-repeat url('../../Assets/Logos/Elevate Logo Files/WEB/Elevate_Logo_Vertical_Color_RGB@2x.png');
            background-position: center ;
            background-repeat: no-repeat;
            background-attachment: fixed;
            opacity: .35;
            margin-bottom: 10vh;

            @include response(phone){
                background-position: 50% 15%;
                background-attachment: fixed;
            }
        }

        &--body{

            & hr{
                margin: 0 auto;
            }

            & h3{
                font-size: 1.5rem;
                letter-spacing: 2px;
                color: $white-smoke;
            }
            &--pillars{
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin: 1rem 0 15rem;
                @include response(phone){
                    margin-bottom: 10rem;
                }
                & div {
                    width: 40ch;
                    box-shadow: 0 0 5px hsla(0, 0%, 0%, .3);
                    background-color: $white-smoke;
                    border-radius: 10px;
                    padding: 1rem;
                    margin: 1rem 1rem;

                    @include response(phone){
                        width: 90%;
                    }
                    & p{
                        color: $slate-gray;
                    }
                }
            }

            &--pillars:after{
                content: '';
                position: absolute;
                top: 26%;
                width: 100%;
                height: 120vh;
                background-color: $black;
                clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
                z-index: -1;
                @include response(phone){
                    top: 24%;
                    height: 160vh;
                }
            }
        }
    }


    &__tufts{
        margin: 25vh 5rem 5rem;
        @include response(phone){
            margin: 15vh auto 5rem;
        }
        &--header{
            width: 80%;
            margin: 1rem auto;
            color: $slate-gray;
            @include response(phone){
                width: 85%;
            }
            
            & h2{
                
                font-size: 1.85rem;
                letter-spacing: 2px;
                @include response(phone){
                    font-size: 2rem;
                }
            }

            & hr{
                width: 50%;
                margin: 0 auto 1rem;
                border-color: $yellow;
            }
            & p{
                color: $black;
                text-align: left;
                text-indent: 30px;
            }
        }

        &--header:after{
            content: "";
            position: absolute;
            left: 0;
            top: 25%;
            z-index: -1;
            width: 100vw;
            height: 90vh;
            background-color: $black;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
            @include response(phone){
                top: 40%;
            }
        }

        & img{
            display: block;
            width: 41vw;
            object-fit: cover;
            @include response(phone){
                width: 90vw;
                object-fit: contain;
            }
        }

        &--img-container{
            margin: 5rem auto;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 15px;
            @include response(phone){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }

    &__info{
        margin: 25vh auto;
        width: 80%;
        max-width: 1200px;

        @include response(phone){
            margin: 15vh auto;
            width: 90%;
        }

        & hr{
            width: 30%;
            border: solid .5px $yellow;
            margin: 0 auto;
        }

        & > p{
            text-indent: 30px;
            max-width: 85ch;
            width: 90%;
            text-align: left;
            margin: 0 auto;
            @include response(tab-port){
                width:90%;
            }
        }

        & li{
            list-style-type: square;
            list-style-position: inside;
            text-align: left;
            margin-top: .25rem;
        }

        &--expectations-head{
            margin: 10rem auto 3rem;
            width: 75ch;

            @include response(phone){
                width: 90%;
            }

            & h3{
                @include header-style;
                color: $slate-gray;
            }

            & hr{
                color: $yellow;
                width: 50%;
            }
        }

        &__rules-expectations-container{
            display: flex;
            justify-content: space-between;
            @include response(phone){
                flex-direction: column;
                align-items: center;
            }

            & h4{
                color: $slate-gray;

                @include response(phone){
                    font-size: 2rem;
                    padding-bottom: .5rem;
                }
            }

            & div{
                width: 48%;
                @include response(phone){
                    width: 90%;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

#living-img1{
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
    @include response(phone){
        grid-column-start: 1;
        grid-row-start: 1;
    }
}
#kitchen-img2{
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    @include response(phone){
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
}
#front-house-img3{
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    @include response(phone){
        grid-column-start: 1;
        grid-row-start: 3;
    }
}
#bathroom-img4{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    @include response(phone){
        grid-column-start: 1;
        grid-row-start: 4;
    }
}
#small-bed-img5{
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: center;
    @include response(phone){
        grid-column-start: 1;
        grid-row-start: 5;
    }
}
#chicken-img6{
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
    @include response(phone){
        grid-column-start: 1;
        grid-row-start: 6;
    }
}
#community-logo{
    position: absolute;
    top: 22vh;
    left: 22vw;
    z-index: 0;
    opacity: .1;
}

#main-head{
    @include header-style;
    position: relative;
    left: -35px;
    @include response(phone){
        left: 0;
        font-size: 2.1rem;
    }
}

#second-head{
    position: relative;
    left: 130px;
    color: $slate-gray;
    @include header-style;
    font-size: 20px;
    margin-bottom: 2rem;

    @include response(phone){
        left: 0;
        font-size: 1.8rem;
    }
}

#admissions-logo{
    position: absolute;
    top: 1vh;
    left: 28%;
    opacity: .1;
    z-index: -1;


    @include response(phone){
        left: 0;
        top: 12vh;
        width: 100vw;
        overflow: hidden;
    }
}