.contact{
    margin-top: 10vh;
    height: 150vh;
    text-align: left;
    
    display: flex;
    justify-content: center;
    align-items: center;

    @include response(phone){
        margin: 13vh auto 8vh;
    }

    &__icons{
        color: $yellow;
        padding: .5rem;
        border: solid 1px $yellow;
        border-radius: 50%;
        opacity: .7;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    &__form-container{
        margin-right: 1rem;
        @include response(phone){
            margin-right: 0;
        }
        & h2{
            @include response(phone){
                margin-bottom: .5rem;
            }
        }
        & > div{
            margin-bottom: 2rem;
        }
    }

    &__form-parent{
        background-color: $white-smoke;
        padding: 3rem;
        border-radius: 8px;
        box-shadow: 0 0 6px hsla(0, 0%, 0%, .4);
        display: flex;
        flex-basis: 90%;

        @include response(phone){
            flex-basis: 90%;
            flex-direction: column;
            padding: 2.5rem;
        }

        &--address-container{
            padding: 0 0 0 1rem;
            border-left: solid 1px $black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            @include response(phone){
                border-left: none;
            }

            & div{
                display: flex;
                align-items: center;
                @include response(phone){
                    margin: .75rem 0;
                }
                & h5{
                    color: $slate-gray;
                    font-size: 1rem;
                }
            }
        }
    }
    
    &__form{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
        & input, textarea{
            padding: .35rem;
            margin: 0 0 .75rem;
        }

        & input[type=submit]{
            border: solid 1.5px $yellow;
            border-radius: 20px;
            background-color: transparent;
            color: $slate-gray;
            width: 10rem;
            padding: .5rem;
        }

        & input[type=submit]:hover{
            transform: scale(1.1);
            box-shadow: 0 0 5px hsla(0, 0%, 0%, .4);
        }

    }
}

.contact::before{
    content: '';
    height: 150vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url("../../Assets/Images/Denver-min.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

textarea{
    resize: none;
    outline: none;
    padding: .5rem;
    font-family: Brandon-Grostesque, serif;
}

#success-message{
    margin: 2rem 0;
}