

.home{
    & h2{
        @include header-style;
    }

    &__links{
        border: 1px solid $yellow;
        border-radius: 20px;
        padding: .25rem 1.5rem;
        margin: 1rem;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1px;
    }

    &__links:link{
        color: $black;
    }
    &__links:visited{
        color: $black;
    }
    &__links:hover{
        transform: scale(1.1);
        box-shadow: 0 0 4px hsla(0, 0%, 0%, .5);
    }

    &__first-image{
        height: 47vw;
        object-fit: cover;
        margin: 0rem 2rem 0 0;
        width: 45vw;

        @include response(phone){
            height: auto;
            width: 100%;
            margin: 3rem auto;
        }
    }
    &__first p{
        text-align: left;
        text-indent: 30px;
        margin: 1.2rem 0;
        font-size: 1.5rem;
    }

    &__first{
        margin: 7rem 3rem;
        display: flex;
        align-items: center;
        @include response(phone){
            flex-direction: column-reverse;
        }
        &--logo{
            height: 20vw;
            @include response(phone){
                height: 40vw;
            }
        }

        &--header{
            text-align: center;
            color: $slate-gray;
            width: 100%;
            margin: 1rem auto 0.25rem;
        }
    }

    
    
    &__second{
        position: relative;
        background-color: $black;
        color: $slate-gray;
        padding: 6rem;
        margin: 10rem 0 0rem;

        @include response(phone){
            padding: 6rem 0;
        }

        & h2{
            font-size: 2rem;
        }

        & p{
            width: 75%;
            margin: 0 auto;
            font-size: 1.5rem;
            @include response(phone){
                width: 90%;
            }
        }
    }
    
    &__second::before, &__second::after{
        content: '';
        position: absolute;
        height: 10rem;
        width: 10rem;
        background-color: $black;
        z-index: -1;
    }

    &__second::before{
        transform: rotate(58deg);
        top: -3rem;
        left: calc(50% - 3rem);
    }

    &__second::after{
        transform: rotate(52deg);
        left: calc(50% - 8rem);
        top: -0.9rem;
    }
    // hsla(219,19%,97%,.9)
    &__third{
        padding: 7rem 0 4rem;
        margin: 6rem 0 10rem;
        background: linear-gradient(hsla(0,0%,100%,.95),hsla(0,0%,100%,.95)),
            url('../../Assets/Images/MountainLine-min.png') center -20% no-repeat;
        &--head{
            
            
            & h2{
                color: $slate-gray;
                font-size: 2.5rem;
                text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
            }
            & hr{
                border-color: $yellow;
                width: 20%;
                margin: -.2rem auto 1rem;

            }
            & p {
                color: $black;
                font-size: 1.25rem;
                @include response(phone){
                    width: 95%;
                    margin: 0 auto;
                }
            }
        }
        
    }
    &__fourth{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include response(phone){
            flex-direction: column-reverse;
        }

        &--head{
            width: 45vw;
            margin: 0 3rem;

            @include response(phone){
                width: 90%;
                margin: 3rem 0 0 0;
            }
            
            & h2{
                color: $white-smoke;
                letter-spacing: 5px;
                
            }

            & hr{
                width: 20%;
                border-color: $slate-gray;
                border-top: $slate-gray;
                margin: 0 auto .5rem;
                @include response(phone){
                    display: none;
                }
            }
        }

        &--head:after{
            content: '';
            position: absolute;
            top: 3vw;
            left: 0;
            width: 100%;
            height: 90vh;
            background-color: $yellow;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
            z-index: -2;

            @include response(tab-port-sm){
                height: 123vh;
            }
            // @include response(phone){
            //     height: 123vh;
            // }
        }
    }

    &__fifth{
        margin: 10rem 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include response(phone){
            flex-direction: column-reverse;
            margin: 10rem auto;
            width: 90%;
        }
        &--head{
            margin: 0 3rem;
            @include response(phone){
                margin: 0 0 2rem;
            }
        }
    }

    &__sixth{
        position: relative;
        color: $slate-gray;
        background-color: $black;
        padding: 5rem 10rem 7rem;
        margin-bottom: 12rem;
        width: 100%;

        @include response(phone){
            padding: 5rem 0 7rem;
        }

        &--main{
            max-width: 1200px;
            margin: 0 auto;
            @include response(phone){
                width: 90%;
            }
            & h2{
                letter-spacing: 4px;
            }
            & hr{
                border: solid 1px $yellow;
                width: 65%;
                margin: 0 auto .5rem;
            }
            & p{
                color: $slate-gray;
                max-width: 85ch;
                margin: 0 auto;
                // font-size: 1.1rem;
            }
        }
    }
    &__sixth::before, &__sixth::after{
        content: '';
        position: absolute;
        height: 10rem;
        width: 10rem;
        background-color: white;
        z-index: 1;
    }

    &__sixth::before{
        transform: rotate(58deg);
        bottom: -7rem;
        left: calc(50% - 3rem);
    }

    &__sixth::after{
        transform: rotate(52deg);
        left: calc(50% - 8rem);
        bottom: -8.9rem;
    }

    
    &__seventh{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto 5rem;
        &--head{
            text-align: left;
            margin: 0 auto 2rem 0;
        }
        & h2{
            font-size: 2.3rem;
            color: $slate-gray;
        }
    }
    &__eighth{
        display: flex;
        align-items: center;
        margin: 0 auto 6rem;
        width: fit-content;

        & h2{
            letter-spacing: 6px;
            font-size: 2.5rem;
            border-bottom: solid;
            border-bottom-color: $yellow;

            @include response(phone){
                letter-spacing: 3px;
                font-size: 2rem;
                margin-left: 1rem;
                
            }
        }
    }
}

#second-break{
    width: 12%;
    margin: 0.4rem auto;
    border-color: $yellow;
}

#mountains{
    width: 70vw;
    max-width: 1600px;
}

#hiking{
    width: 35vw;
    @include response(phone){
        width: 80vw;
    }
}

#looking-computer{
    width: 40vw;
    @include response(phone){
        
        width: 80vw;
    }
}

#philosophy-link:visited{
    color: $white-smoke !important;
}

#philosophy-link:link{
    color: $slate-gray !important;
}

#location-link{
    border-color: $white-smoke;
}

#letter-link:link{
    color: $slate-gray;
}
#letter-link:visited{
    color: $slate-gray;

}
#house-link{
    margin-left: 0;
}

#contact-arrow{
    width: 2rem;
    margin: 3rem;
    animation: pulse 1000ms infinite;
}