

.home{
    & h2{
        @include header-style;
    }

    &__first-image{
        height: 30vw;
        margin: 0 2rem 0 0;
    }
    &__first p{
        text-align: left;
        text-indent: 30px;
        margin: .4rem 0;
    }
    &__first{
        margin: 3rem;
        display: flex;
        align-items: center;

        &--logo{
            height: 20vw;
        }

        &--header{
            text-align: center;
            color: $slate-gray;
            width: 100%;
            margin: 1rem auto 0.25rem;
        }
    }

    
    
    &__second{
        position: relative;
        background-color: $black;
        color: $slate-gray;
        padding: 6rem;
        margin: 10rem 0;

        & h2{
            font-size: 2rem;
        }

        & p{
            width: 75%;
            margin: 0 auto;
            font-size: 1.5rem;
        }
    }
    
    &__second::before, &__second::after{
        content: '';
        position: absolute;
        height: 10rem;
        width: 10rem;
        background-color: $black;
        z-index: -1;
    }

    &__second::before{
        transform: rotate(58deg);
        top: -3rem;
        left: calc(50% - 3rem);
    }

    &__second::after{
        transform: rotate(52deg);
        left: calc(50% - 8rem);
        top: -0.9rem;
    }

    &__third{
        
    }

    &__seventh{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

#second-break{
    width: 12%;
    margin: 0.4rem auto;
    border-color: $yellow;
}

#mountains{
    width: 100vw;
}

#hiking{
    width: 50vw;
}