.location{
    margin-top: 20vh;

    &  section{
        display: flex;
        margin: 2rem 7rem 5rem;
        @include response(tab-port){
            margin: 2rem auto 5rem;
        }
        
        & img{
            height: 80%;
            width: 45vw;
            filter: grayscale(100%);
            @include response(tab-port){
                width: 90%;
                margin: 2rem auto; 
            }
        }
    }

    & h2{
        letter-spacing: 3px;
        @include response(phone){
            font-size: 1.8rem;
        }
    }

    & hr{
        border: solid .5px $slate-gray;
        width: 70%;
        margin: 0 auto .5rem;
    }

    &__metro{
        @include response(tab-port){
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 2rem auto 5rem;
        }
        & img{
            margin: 0 2rem 0 0;

            @include response(tab-port){
                margin: 0 auto;
            }
        }
    }
    
    &__importantance{
        
        @include response(tab-port){
            display: flex;
            flex-direction: column-reverse;
            width: 90%;
            margin: 2rem auto 10rem;
        }
        & img{
            margin: 0 0 0 2rem;
            
            @include response(tab-port){
                margin: 0 auto;
            }
        }
    }
}

.location__metro::after{
    content: '';
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
    width: 100vw;
    height: 100vh;

    background-color: $yellow;
    clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
    @include response(tab-port){
        height: 185vh;
        top: 8%;
    }
}