.program{
        margin-top: 15vh;

    &__why-us{
        &--choose{
            background: $black;
            color: $white-smoke;
            padding: 10rem 9rem;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);

            & h2{
                font-size: 30px;
                color: $slate-gray;
                letter-spacing: 3px;
            }
            
            & hr{
                border-color: $yellow;
                width: 35%;
                margin: .25rem auto;
            }
            
            & h5{
                font-size: 1rem;
                color: $slate-gray;
                letter-spacing: 3px;
                margin-bottom: 1rem;
            }

            & p{
                text-align: left;
            }

            & button{
                margin-top: 1rem;
                letter-spacing: 1px;
                &:hover{
                    box-shadow: 0 0 5px $white-smoke;
                    transform: scale(1.1);
                }
            }
        }


        &--pillars{
            display: flex;
            justify-content: space-evenly;
            margin: 3rem 0;

            &--cards{
                box-shadow: 0 0 6px hsla(0, 0%, 0%, .3);
                border-radius: 6px;
                margin: 2rem;
                padding: 1rem;
            }
        }
    }


    &__what-to-expect{
        margin: 11rem 10rem;

        & button{
            border: solid 1px $yellow;
            border-radius: 20px;
            padding: .5rem 2rem;
            margin-top: 2rem;
            background-color: transparent;
            letter-spacing: 2px;
            font-size: 15px;

            &:hover{
                transform: scale(1.1);
                box-shadow: 0 0 6px $yellow;
            }
        }

        & h2{
            @include header-style;
        }

        & hr{
            border-color: $yellow;
            width: 35%;
            margin: .1rem auto 1rem;
        }
        
        & p{
            text-align: left;
            margin: 0 auto;
            text-indent: 50px;
            font-size: 1.2rem;
            color: $slate-gray;
        }
    }

    &__elevation-plan{
        background-color: $black;
        color: $white-smoke;
        padding: 2rem 0 0;

        & hr{
            border-color: $yellow;
            margin: .25rem auto .75rem;
            width: 55%;
        }

        & h2{
            font-size: 2rem;
            letter-spacing: 3px;
        }

        & h3{
            margin-top: 5rem;
            font-size: 1.5rem;
            letter-spacing: 2px;
        }

        & h4{
            // margin-bottom: .5rem;
        }

        &__header{
            padding: 13rem 7rem;
            background-color: $white-smoke;
            color: $black;
            position: relative;
            clip-path: polygon(0 calc(0% + 7vw), 100% 0, 100% calc(100% - 7vw) , 0 100%);
            &--container{
                position: relative;
            }

            & h1{
                font-size: 30px;
                color: $slate-gray;
                letter-spacing: 3px;
                margin-bottom: 1rem;
            }

            & p{
                margin: 0 auto;
                text-align: left;
                max-width: 1000px;
                text-indent: 40px;
                margin-bottom: 1rem;
            }
        }

        &__weekly-meetings{
            &--header{
                margin-top: 5rem;
            }
            &--therapeutic-container{
                margin: 2rem 7rem;
                
            }

            & li{
                list-style-type: square;
                list-style-position: inside;
                text-align: left;
                margin: 0 auto;
            }

            & h4{
                color: $black;
            }

            &--therapeutic-list{
                display: flex;
                // flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                
                & div{
                    max-width: 20vw;
                }
            }
            
            
            &--daily-structure{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                
                & div{
                    max-width: 20vw;
                }
            }
            
            
            &--skill-development{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                
                & div{
                    max-width: 20vw;
                }
            }
            
            &--habit-development{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                width: 80%;
                margin: 0 auto;

                & div{
                    max-width: 20vw;
                }
            }
        }
    }

    &__vocational-training{
        width: 80%;
        margin: 10rem auto;

        & hr{
            border-color: $yellow;
            width: 50%;
            margin: 0 auto .5rem;
        }

        & h4{
            margin-top: 1rem;
            color: $slate-gray;
        }

        & li{
            list-style-type: square;
            list-style-position: inside;
            text-align: left;
            margin-top: .25rem;
        }

        & img{
            height: 30vw;
        }
    
        &--training{
            display: flex;
            align-items: center;

            & h2{
                color: $slate-gray;
                margin-bottom: .5rem;
            }
            
            & p{
                text-indent: 40px;
                text-align: left;
            }
            
            &--desc{
                margin: 0 2rem 0 0;
            }
        }
        
        &--employment{
            // display: flex;
            // align-items: center;
            margin: 10rem 0 0 ;
            & h1{
                font-size: 30px;
                color: $slate-gray;
                letter-spacing: 3px;
                margin-bottom: 1rem;
            }
            
            &--container{
                position: relative;
            }
            
            & p{
                text-indent: 40px;
                text-align: left;
            }
            
        
            &--lower{
                display: flex;
                justify-content: space-evenly;
                margin: 4rem auto 3rem;

                &--desc{
                    margin: 0 0 0 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;
                }
            }
        }
    }
}

#why-us--elevation-plan{
    border: solid 1px $white-smoke;
    border-radius: 20px;
    padding: .5rem 2rem;
    margin-top: 1rem;
    background: transparent;
}

#elevation-plan{
    color: $white-smoke;
}

.mountain::after{
    content: '';
    position: absolute;
    top: 2.5rem;
    left: calc(50% - 12.5rem);
    width: 25rem;
    height: .7rem;
    background-color: $yellow;
    clip-path: polygon(0 1vh, 40% 1vh, 43% .5vh, 44% .75vh, 47% 0, 50% 1vh, 100% 1vh, 100% 100%, 0 100%);
}

.arrows{
    @include center;
    height: 2rem;
    width: 2rem;
    margin-top: .5rem;
    border: 1px solid $slate-gray;
    border-radius: 50%;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $slate-gray;
    background-color: $white-smoke;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}