@import './styles/base/base';
@import './styles/abstracts/variables';
@import './styles/components/navbar';

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.fixed-header{
  width: 100vw;
  height: 15vh;
  position: fixed;
  z-index:1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(white, white);
  &__menu{
    display: flex;
    align-items: center;
  }
}

.fixed-header *{
  margin: 2rem;
}

.hero{

  &__title{
    position: absolute;
    top: 40vh;
    left: calc(50vw - 27.5vw);
    margin: 0 auto;
    width: 55vw;
    z-index: 1;
  }

  &__slider{
    &--image{
      margin-top: 15vh;
      height: 75vh;
      width: 100vw;
      filter: grayscale(80%);
    }
  }
}

.hamburger{
  height: 1rem;
  & div{
    margin: 5px;
    border: solid 1px black;
    border-radius: 8px;
    width: 20px;
  }

  &__one{
    
  }
  &__two{

  }
  &__three{

  }
}