@import './styles/base/base';
@import './styles/abstracts/variables';
@import './styles/components/navbar';
@import './styles/components/hamburger';
@import './styles/components/footer';
@import './styles/pages/home';
@import './styles/components/hero-slider';
@import './styles/components/submenu';
@import './styles/components/fixed-header';

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: Brandon-Grostesque, serif;
}